<!-- views/partials/_footer.ejs -->

<p class="text-center text-muted">Dedicated to Franklin, <br>
  and the blood, sweat, and tears of the Web-Van-30-July Cohort</p>
<p class="text-center text-muted">© Copyright 2018 Lighthouse Labs</p>
