<!-- views/partials/_header.ejs -->
<div style="margin:20px;">
<% if (!username) { %>
  <form action="/login" method="POST">
    <label for="username">Enter:</label>
    <input id="username" type="text" name="username" placeholder="username">
    <button type="submit">Login</button>
  </form>
<% } else { %>
  <form action="/logout" method="POST">
    <label for="username"> <%= username %> </label>
    <button type="submit">Logout</button>
  </form>
<% } %>
</div>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Guy's Tiny App
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/urls">URLS Index</a></li>
            <li><a href="/urls/new">Get a TinyURL</a></li>
            <li>

            </li>
        </ul>
    </div>

</div>
</nav>