<!-- views/partials/_header.ejs -->
<div style="margin: 20px;">
<% if (!userDetails) { %>
  <form action="/login" method="POST" style="display:inline;">
    <label for="username">Email Address:</label>
    <input id="username" type="text" name="username" placeholder="e.g. smith@example.com" style="width: 200px;">
    <button type="submit">Login</button>
  </form>
  <form action="/register" method="GET" style="display:inline;">
    <button type="submit">Register</button>
  </form>
<% } else { %>
  <form action="/logout" method="POST">
    <label for="username"> <%= userDetails.email %> </label>
    <button type="submit">Logout</button>
  </form>
<% } %>
</div>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-road"></span>
            Guy's TinyApp
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/urls">URLS Index</a></li>
            <li><a href="/urls/new">Get a TinyURL</a></li>
            <li>

            </li>
        </ul>
    </div>

</div>
</nav>