<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_head %>
  </head>
  <body>

    <header>
      <% include ../partials/_header %>
    </header>

    <h1 style="margin:50px;">About</h1>

    <main style="padding-left: 50px;">
      <h3>User Stories</h3>

      <p><em>As an</em> avid twitter poster, <br>
        <em>I want</em> to be able to shorten links <br>
        <em>so that</em> I can fit more non-link text in my tweets.</p>

      <p><em>As a</em> twitter reader, <br>
        <em>I want</em> to be able to visit sites via shortened links, <br>
        <em>so that</em> I can read interesting content.</p>

      <p><em>As an</em> avid twitter poster, <br>
        <em>I want</em> to be able to see how many times my subscribers visit my links <br>
        <em>so that</em> I can learn what content they like.</p>

      <img src="https://cdn.pixabay.com/photo/2014/04/03/11/53/twitter-312464_1280.png" alt="twitter bird"     style="width:400px;">

    </main>
    <footer>
      <% include ../partials/_footer %>
    </footer>
  </body>
</html>