<!-- views/pages/error-page.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>

<header>
  <% include ../partials/_header %>
</header>

<h2 style="margin:50px;">Error <%= status %> - <%= message %>
Please try again.
</h2>

<main style="margin:150px;">


</main>
</body>
</html>