<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>

<header>
  <% include ../partials/_header %>
</header>

<h1 style="margin:50px;">Guy's TinyApp</h1>

<main style="font-size:20px; margin:100px;">

  <p>Do you want to fit more words into your tweets?</p>
  <p>Do you want to add URLs to your tweets but don't want to waste so many valuable characters?</p>
  <p>Well, look no further! Here at Guy's TinyApp we specialise in reducing long cumbersome URLs down to short 6 character alphanumeric IDs!</p>


</main>
</body>
</html>