<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_head %>
</head>
<body>

<header>
  <% include ../partials/_header %>
</header>

<h2 style="margin: 50px;">Registration</h2>

<main style="padding-left: 100px;">
  <form action="/login" method="POST" style="margin-left: 50px;">
      <label for="email" style="display:block; padding-top: 15px;">Enter Email: </label>
      <input id="email" type="email" name="email" placeholder="e.g. smith@example.com" style="width: 300px;">
      <label for="password" style="display:block; padding-top: 15px;">Password: </label>
      <input id="password" type="password" name="password" placeholder="Enter password" style="width: 300px;">
      <button type="submit" style="display:block; margin-top: 15px;">Submit</button>
  </form>
</main>
</body>
</html>
